@import url(https://fonts.google.com/);

:root{
    --colorbackground: #dac0d0;
    --colorPrincipal: #7e0f20;
    --colorSecundario: rgb(47, 42, 42);
    --fuentePrincipal: 'Raleway', sans-serif;
    --fuenteSecundaria: 'Dancing Script';
     
}

html{
    font-size: 62,5%;
    font-family: var(--fuentePrincipal);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILIDADES */

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADER */
.contenedorPrimero{
    background-color: #dac0d0;

}
.primero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
 
}
.icono{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.icono i{
    font-size: 3.3rem;

}
.soporte {
    display: flex;
    flex-direction: column;
}
.contenedorLogo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contenedorLogo h1 a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    
}
.contenedorUsuario {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.contenedorUsuario .fa-user{
    font-size: 3rem;
    color:black;
    padding-right: 2.5rem;
    border-right: 1px solid #dac0d0;
}
.contenedorUsuario .fa-basket-shopping {
    font-size: 3rem;
    color: black;
    padding-left: 1rem;
}
.contenedorCarrito{
    display: flex;
    flex-direction: column;
}
/* navbar */

.contenedorNav{
    background-color: var(--colorPrincipal);

}
.navContenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

}
.navContenedor .fa-bars {
    display: none;
}
.menu{
    display: flex;
    gap: 2rem;
}
.menu li{
    list-style: none;

}
.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color:#dac0d0;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    margin-left: 2rem;
}
.menu a::after {
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color:#fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0,3s ease;
}
.menu a:hover::after{
    opacity: 1;
}
.menu a:hover {
    color: #fff;
}
.formulario{
    position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem; 
	overflow: hidden; 
}
.formulario input {
    outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
    color: #fff;
	cursor: pointer;
}
.formulario input::-webkit-search-cancel-button {
	appearance: none;
}
.formulario .btn-busqueda{
    border: none;
	background-color: var(--colorPrincipal);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}
.btn-busqueda i{
    font-size: 2rem;
    color:var(--colorbackground)
}


/* banner */

.banner {
    background-image: linear-gradient(100deg, #000000, #00000020),
        url(./img/bannerdefinitivo.png);
    height: 60rem;
    background-size: cover;
    background-position: center;
}
.contenidoBanner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}
.contenidoBanner p {
    color: var(--colorPrincipal);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;

}
.contenidoBanner h2 {
    color: #fff;
    font-size: 3.5rem;
    font-weight:500;
    line-height: 1.2;
}
.contenidoBanner a{
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--colorPrincipal);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}
/* MAIN */
.contenidoMain{
    background-color: var(--colorPrincipal);
}

/* CARACTERISTICAS */
.contenedorCaracteristicas{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.caracteristicas{
    display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	background-color:#ebc0db;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.caracteristicas i{
    font-size: 2.7rem;
	color: var(--colorPrincipal);
}
.contenidoCaracteristicas{
    display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.contenidoCaracteristicas span{
    font-weight: 700;
	font-size: 1.2rem;
	color: black;
}
.contenidoCaracteristicas p{
    color: #777;
	font-weight: 500;
}

/* CATEGORIAS */

.topInfusiones{
    display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}
.contenedorCategoria{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}
.categ{
    height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}
.categoriaFresa{
    background-image: linear-gradient(#00000080, #00000080),
		url(./img/fresas\ con\ nata.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}
.categoriaRojo{
    background-image: linear-gradient(#00000080, #00000080),
		url(./img/rojocanela.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.categoriaNegro{
    background-image: linear-gradient(#00000080, #00000080),
		url(./img/negro\ paquistani.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.categ p{
    font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.categ p::after{
    content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.categ span{
    font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.categ span:hover {
    color:#dac0d0;
}


/* TOP PRODUCTS */
.titulo1{
    color:var(--colorbackground)
    
  
}

.topCafes{
    display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}
.contenedorOpciones{
    display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}
.contenedorOpciones span{
    color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;

}
.contenedorOpciones span:hover{
    background-color: var(--primary-color);
	color: #fff;
}
.contenedorOpciones span.active{
    background-color: var(--primary-color);
	color: #fff;
}

/* productos */

.contenedorProductos{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}
.caractProducto{
    background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.contenedorImg{
    position: relative;
}
.contenedorImg img{
    width: 100%;
}
.contenedorImg .descuento{
    position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}
.caractProducto:hover .discount{
    background-color: #000;
}
.botonPro{
    display: flex;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}
.botonPro span {
    border: 1px solid var(--primary-color);
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}
.botonPro span:hover{
    background-color:#dac0d0;
}
.botonPro span i{
    font-size: 1.5rem;
	color: var(--primary-color);
}
.botonPro span:hover i{
    color: #fff;
}
.caractProducto:hover .botonPro{
    z-index: 0;
	right: -1rem;
}
.contenedorCarPro{
    display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}
.estrella {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.estrella i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.contenedorCarPro h3{
    grid-row: 2/3;
	grid-column: 1/-1;
	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.contenedorCarPro h3:hover{
    color:#dac0d0;
}
.addCarta{
    justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
.addCarta:hover{
    background-color:#dac0d0;
}
.addCarta i{
    font-size: 1.5rem;
	color: var(--primary-color);
}
.addCarta:hover i{
    color: #fff;
}
.contenedorCarPro .price{
    justify-self: end;
	align-self: center;

	font-size: 1.7rem;
	font-weight: 600;
}
.contenedorCarPro .price span{
    font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}
/* FOOTER */
.footer {
	background-color: var(--colorPrincipal);
}

.contenedorFooter {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.tituloContac {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.info,
.informacion,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
    margin-left: 70%;

}
.miCuenta{
    display: flex;
	flex-direction: column;
	gap: 2rem;
    margin-right: 30% ;
}


.info ul,
.informacion ul,
.miCuenta ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.info ul li,
.informacion ul li,
.miCuenta ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.informacion ul li a,
.miCuenta ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.informacion ul li a:hover,
.miCuenta ul li a:hover {
	color: var(--dark-color);
}

.social-icon {
	display: flex;
	gap: 1.5rem;
}

.social-icon span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icon span i {
	color: #fff;
	font-size: 1.2rem;
}


.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}



 
